.client-login-wrapper{
    display: grid;
    grid-gap: 50px;
    justify-items: center;
    padding-top: 30px;
    .login-form-wrapper {
        display: grid;
        grid-gap: 20px;
        // padding-top: 30px;
        justify-items: center;
    }
    .email-wrapper,
    .password-wrapper{
        width: 100%;
        display: grid;
        grid-gap: 10px;
        font-size: 1.4rem;
      }
  
     button {
        @include btn-style()
     }
     input{
        @include input-style();
        
     }

     .text-error{
         color: $green;
         font-size: 1.5rem;
     }
     svg{
         color: $green;
     }
}