.signup-wrapper form{
   display: grid;
   grid-gap: 20px;
   padding: 30px;
   padding-top: 30px;
   justify-items: center;

   input{
      @include input-style()
   }

   button {
      @include btn-style()
   }
  
}