.options-wrapper{
    justify-self: start;
    display: grid;
    row-gap: 20px;
    justify-items: center;
    width: 12vw;
    margin-top: 20px;
    height: 500px;
    .option-wrapper{
        display: grid;
        width: 12vw;
        height: 40px;
        justify-items: center;
        border-bottom: $green  1.5px solid ;
    }
    a{
        font-size: 1.5rem;
        
    }
}